In [1]:
import pandas as pd
import pymongo
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser

# define a placeholder for saved variables
mars_variable_placeholder = [{}]

In [2]:
def scraping_func(url):
    # Path to chromedriver
    executable_path = {'executable_path': 'chromedriver.exe'}
    browser = Browser('chrome', **executable_path, headless=False)
    
    # Go to website
    browser.visit(url)
    browser.is_element_present_by_css("ul.item_list li.slide", wait_time=1)
    
    # Convert the browser html to a soup object and then quit the browser
    html = browser.html
    scrape_soup = bs(html, 'html.parser')

    # Close the browser after scraping
    browser.quit()
    
    #return scraped object
    return scrape_soup

In [3]:
### NASA Mars News
# * Scrape the [NASA Mars News Site](https://mars.nasa.gov/news/) and collect the latest News Title and Paragraph Text. 
# Assign the text to variables that you can reference later.

# Set Website URL to scrape
url = 'https://mars.nasa.gov/news/'

# Call scrape function and pass in url
scrape_soup = scraping_func(url)

# Get latest title
news_title_find = scrape_soup.find('div', class_='content_title')

# Get title from scrape
news_title = news_title_find.get_text()
news_title

'Small Satellite Mission of the Year'

In [4]:
# Get latest title's paragraph
news_p_find = scrape_soup.find('div', class_='article_teaser_body')
news_p = news_p_find.get_text()
news_p

'The first interplanetary CubeSats were recognized by the engineering community with the 2019 Small Satellite Mission of the Year award.'

In [5]:
### JPL Mars Space Images - Featured Image
#* Use splinter to navigate the site and find the image url for the current Featured Mars Image and 
# assign the url string to a variable called `featured_image_url`.

# Set Website URL to scrape
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars/'

# Call scrape function and pass in url
scrape_soup = scraping_func(url)

# Get latest picture
relative_image_path = scrape_soup.find_all('img')[3]["src"]

In [6]:
featured_image_url = url + relative_image_path
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars//spaceimages/images/wallpaper/PIA22839-640x350.jpg'

In [7]:
### Mars Weather
#* Visit the Mars Weather twitter account [here](https://twitter.com/marswxreport?lang=en) and 
# scrape the latest Mars weather tweet from the page. 
#Save the tweet text for the weather report as a variable called `mars_weather`

# Set Website URL to scrape
url = 'https://twitter.com/marswxreport?lang=en'

# Call scrape function and pass in url
scrape_soup = scraping_func(url)

# Get latest weather tweet
mars_weather_find = scrape_soup.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')

mars_weather = mars_weather_find.get_text()
mars_weather

'InSight sol 249 (2019-08-09) low -98.8ºC (-145.8ºF) high -26.0ºC (-14.8ºF)\nwinds from the SSE at 4.4 m/s (9.8 mph) gusting to 17.5 m/s (39.1 mph)\npressure at 7.60 hPapic.twitter.com/jDOsvHTwYg'

In [8]:
### Mars Facts
#* Visit the Mars Facts webpage [here](https://space-facts.com/mars/) and 
#use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
#* Use Pandas to convert the data to a HTML table string.

# Set Website URL to scrape
url = 'https://space-facts.com/mars/'

tables = pd.read_html(url)
tables

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [9]:
mars_earth_comp_df = tables[0]
mars_earth_comp_df.columns = ['Mars-Earth Comparison', 'Mars', 'Earth']
mars_earth_comp_df

  Mars-Earth Comparison             Mars            Earth
0             Diameter:         6,779 km        12,742 km
1                 Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                Moons:                2                1
3    Distance from Sun:   227,943,824 km   149,598,262 km
4       Length of Year:   687 Earth days      365.24 days
5          Temperature:    -153 to 20 °C      -88 to 58°C

In [10]:
mars_planet_profile_df = tables[1]
mars_planet_profile_df.columns = ['Mars Planet Profile', 'Measurement']
mars_planet_profile_df

    Mars Planet Profile                    Measurement
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers